<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/commons :: head" />
<body>

<div th:replace="fragments/header :: header"/>
<div class="container" style="margin-bottom: 100px; margin-top: 100px;">

    <form class="form-inline my-2 my-lg-4">
        <div class="ml-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Search"
                   aria-label="Search"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </form>

    <h1>Memories posted by your friends...</h1>

    <div class="card" style="margin-bottom: 20px;">
        <div class="card-body">
            <h5 class="card-title">Once I was in NYC!</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.
                Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            <a href="#" class="btn btn-outline-primary">Read more <i class="fa fa-external-link" /></a>
        </div>
        <div class="card-footer text-muted">
            <i class="fa fa-heart" style="color: red;"/> Posted on November 18, 2018 by taneresme
        </div>
    </div>

    <div class="card" style="margin-bottom: 20px;">
        <div class="card-body">
            <h5 class="card-title">Once I was in NYC!</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.
                Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            <a href="#" class="btn btn-outline-primary">Read more <i class="fa fa-external-link" /></a>
        </div>
        <div class="card-footer text-muted">
            <i class="fa fa-heart-o" /> Posted on November 18, 2018 by taneresme
        </div>
    </div>

    <div class="card" style="margin-bottom: 20px;">
        <div class="card-body">
            <h5 class="card-title">Once I was in NYC!</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.
                Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            <a href="#" class="btn btn-outline-primary">Read more <i class="fa fa-external-link" /></a>
        </div>
        <div class="card-footer text-muted">
            <i class="fa fa-heart" style="color: red;"/> Posted on November 18, 2018 by taneresme
        </div>
    </div>

    <div class="card" style="margin-bottom: 20px;">
        <div class="card-body">
            <h5 class="card-title">Once I was in NYC!</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.
                Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            <a href="#" class="btn btn-outline-primary">Read more <i class="fa fa-external-link" /></a>
        </div>
        <div class="card-footer text-muted">
            <i class="fa fa-heart-o" /> Posted on November 18, 2018 by taneresme
        </div>
    </div>
</div>

<th:block th:include="fragments/footer :: footer" />
</body>
</html>