<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/memory.css}"/>
<body>

<div id="centerDiv">
    <form class="form-horizontal" role="form" method="POST" action="/login">
        <input type="text" name="username" class="form-control" id="username"
               placeholder="Username" required="" autofocus="autofocus"/>
        <input type="password" name="password" class="form-control" id="password"
               placeholder="Password" required=""/>
        <span th:text="${loginError}"></span>

        <div style="overflow:auto;">
            <br />
            <br />
        </div>
        <div style="overflow:auto;">
            <div style="float: left;">
                <span><input class="form-check-input" name="remember" type="checkbox"/> Remember me</span>
            </div>
            <div style="float:right; right:0;">
                <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login </button>
            </div>
        </div>
        <br />
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
    <a href="/password/reset">Forgot Your Password?</a>
    <div>Do not have an account? <a href="/register">Sign up</a></div>
    <div><a href="/addmemory">Addmemory</a></div>
</div>

</body>
</html>
