server:
  port: 8090
spring:
  thymeleaf:
    cache: false
  jpa:
    show-sql: true
  messages:
    basename: validation
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=- 1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver

---
server:
  port: 8090
spring:
  profiles: prod
  thymeleaf:
    cache: false
  jpa:
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgresPlusDialect
    hibernate:
      ddl-auto: create-drop
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/mnemosyne


